<h1 align="center" style="color:green" > Search List</h1>
<br/>

<input placeholder="Search a Name" style="margin-left:45%;width:200px;" id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"   (selectItem)="my($event)" (keyup)="my($event)" [ngModelOptions]="{standalone: true}" />

<br/>
 <!-- <pre>Model: {{ model | json }}</pre> -->
<div class="container">
<table class="table table-bordered">
		  <thead>
			<tr align="center" class="info">

              <td>NAME</td>
			  <td>ADDRESS</td>
			  <td>EMAIL</td>
              <td>CONTACT NO</td>

			</tr>
		  </thead>
		  <tbody align="center">
			 <tr class="success" *ngFor="let data of Selected">
                <td style="display:none">{{data.id}}</td>
                <td>{{data.name}}</td> 
				<td>{{data.address}}</td>
				<td>{{data.email}}</td>
				<td>{{data.contact}}</td>
			
				<!--	<a class="btn btn-success" (click)="editAddress(data.id)">Edit</a> -->
			
			
			 </tr>
		  </tbody>
		</table>
</div>